<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender</title>
</head>
<body>
    <h1>Calendar Working!!</h1>
    <form action='' method='post'>
        {{ form.hidden_tag() }}
        <p>Name: {{ form.name() }}</p>
        <p>Start Date: {{ form.start_date() }}</p>
        <p>Start Time: {{ form.start_time() }}</p>
        <p>End Date: 
            {{ form.end_date.label }} {{ form.end_date }}

            {% if form.end_date.errors %}
                <ul class='errors'>
                    {% for error in form.end_date.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>End Time: {{ form.end_time() }}</p>
        <p>Description: {{ form.description() }}</p>
        <p>Private? {{ form.private() }}</p>
        <p>{{ form.submit() }} </p>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for item in rows %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2].strftime("%H:%M") }}</td>
                    <td>{{ item[3].strftime("%H:%M") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>