<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender</title>
</head>
<body>
    <h1>Calendar Working!!</h1>
    <form action='/' method='post'>
        {{ form.hidden_tag() }}
        <p>Name: {{ form.name() }}</p>
        <p>Start: {{ form.start_datetime() }}</p>
        <p>End: {{ form.end_datetime() }}</p>
        <p>Description: {{ form.description() }}</p>
        <p>Private? {{ form.private() }}</p>
        <p>{{ form.submit() }} </p>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for item in rows %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2].strftime("%H:%M") }}</td>
                    <td>{{ item[3].strftime("%H:%M") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>